@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.container {
  display: flex;
  gap: $spacing-sm;

  @media (min-width: $breakpoint-md) {
    gap: $spacing-base;
  }
}
