@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/shadow.scss' as *;
@use '@/styles/tokens/colors.scss' as *;

.toastContainer {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
  pointer-events: none;
  inset: 0;
}

.toast {
  margin-bottom: 0;
  padding: $spacing-sm $spacing-md;
  border-radius: 8px;
  min-width: 200px;
  cursor: pointer;
  box-shadow: $shadow-md;
  background: $color-primary-400;
  color: $color-neutral-100;
  max-width: calc(100% - 1rem);
  margin: $spacing-md auto;
}
