@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/typography.scss' as *;

.container {
  display: flex;
  justify-content: space-between;
  gap: $spacing-xxxs;
  font-weight: $font-weight-medium;
}
