@use '@/styles/tokens/spacing.scss' as *;

.container {
  display: flex;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: $spacing-sm;
  gap: $spacing-xxxs;
}
