@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter.ttf') format('truetype');
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/InterItalic.ttf') format('truetype');
  font-weight: 300 800;
  font-style: italic;
}
