$color-neutral-100: #ffffff;
$color-neutral-200: #e0e0e2;
$color-neutral-300: #c0c2c8;
$color-neutral-400: #f0f0f0;
$color-neutral-500: #7f8185;
$color-neutral-600: #111111;
$color-neutral-700: #222222;

$color-primary-300: #33b1ff;
$color-primary-400: #0093e6;
$color-primary-500: #006bbf;

$color-danger-100: #ffeaea;
$color-danger-400: #ad0000;
$color-danger-500: #800000;

$color-on-danger-400: #ffffff;

$color-on-gray: #202020;
$color-gray-400: #d5d5d5;
$color-gray-500: #b0b0b0;

$color-page: #f0f0f0;

$input-placeholder: #444444;
