@use '@/styles/tokens/colors.scss' as *;

$shadow-sm: 0 1px 3px 0
  rgba(mix($color-primary-300, $color-primary-500, 60%), 0.08);
$shadow-md: 0 4px 12px 0
  rgba(mix($color-primary-300, $color-primary-500, 60%), 0.14);
