$spacing-xxxs: 0.25rem;
$spacing-xxs: 0.5rem;
$spacing-xs: 0.75rem;
$spacing-sm: 0.875rem;
$spacing-md: 1rem;
$spacing-md-2: 1.25rem;

$spacing-lg: 1.75rem;
$spacing-base: 2rem;
$spacing-xl: 2.5rem;
$spacing-xxl: 3rem;
$spacing-xxxl: 4rem;

$spacing-none: 0;
