@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;
@use '@/styles/tokens/animations.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 9.5rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: $color-neutral-200;
  border-radius: $radius-lg;

  @media (min-width: $breakpoint-md) {
    height: 12.25rem;
  }
}

.image {
  width: 100%;
  height: calc(100% - $spacing-md * 2);
  object-fit: contain;
  margin: auto;
}
