@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.container {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  content: '';
  opacity: 0.5;
  background: $color-neutral-700;
  position: fixed;
  inset: 0;
  z-index: 1001;
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: $radius-lg;
  background: $color-page;
  z-index: 1002;
  position: relative;
  width: 100%;
  padding: $spacing-lg $spacing-md;
  gap: $spacing-sm;

  @media (min-width: 600px) {
    padding: $spacing-xl;
    gap: $spacing-base;
  }
}

.contentDefault {
  max-width: 780px;
}

.contentMessage {
  max-width: 585px;
}

.title {
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: $spacing-md;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    gap: $spacing-xxl;
  }
}

.button {
  width: 100%;
  @media (min-width: $breakpoint-md) {
    width: min(228px, 100%);
  }
}
