@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/colors.scss' as *;

.container {
  display: flex;
}

.loading {
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid var(--loading-color, $color-primary-500);
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinnerDefault {
  width: 1rem;
  height: 1rem;
}

.spinnerLayout {
  margin: auto;
  width: 3rem;
  height: 3rem;
  border-top-width: 4px;
  border-right-width: 4px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
