@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  @media (min-width: $breakpoint-md) {
    gap: $spacing-md;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
