@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;

.input {
  display: none;
  flex: 1;
  padding-right: calc(40px + #{$spacing-sm});
  background: $color-neutral-100;

  @media (min-width: $breakpoint-sm) {
    display: block;
  }
}

.content {
  display: flex;
  align-items: center;
  min-width: 40px;
  gap: $spacing-xxs;

  &:hover .input,
  &:focus-within .input {
    border-color: $color-primary-400;
  }
}

.inputContainer {
  flex: 1;
  min-height: 56px;
  display: inline-flex;
  flex-direction: row-reverse;
  position: relative;
}

.mainButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: $spacing-xxs;
  color: $input-placeholder;
  z-index: 2;
}
