@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;

.container {
  background: $color-neutral-100;
  border-radius: $radius-md;
  cursor: pointer;
  padding: $spacing-sm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-md;
  position: relative;
}

.preview {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
}

.icon {
  width: 83px;
  height: 83px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
